/**
* base
*
* The base styles apply to all browsers (including older browsers that don�t support media queries). 
*/

@-ms-viewport {
    width: device-width;
}

/** reset + basic */

html,
body,
div,
section,
header,
h1,
h2,
h3,
abbr,
p,
a,
footer,
aside,
nav,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    display: block;
    list-style: decimal;
    margin: 0 0 0 10px;
}

ul {
    display: block;
    list-style: disc;
}

html {
    background: #000;
}

body {
    overflow: auto;
    padding: 0 0 15px 0;
    min-width: 220px;
    border: none;
    color: #fff;
    font: 20px/23px "museo-sans", sans-serif;
}

p {
    padding: 15px 15px 0 15px;
    text-align: center;
}

abbr,
acronym {
    border-bottom: none;
}

/** $intro */

h1,
h2,
h3 {
    display: block;
    padding: 20px 15px 0 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

h1 
{
    color: LightGreen !important;
    font-size: 48px;
    line-height: 40px;
}

h2 {
    color: Yellow !important;
    font-size: 26px;
    line-height: 26px;
}

h3 {
    color: LightSteelBlue !important;
    font-size: 30px;
    line-height: 23px;
}

h3 + nav,
h3 + ul {
    padding-top: 5px;
}

a {
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    line-height: 21px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/** $main */

.mooreinc-validate-html,
.mooreinc-validate-css,
.mooreinc-license,
.mooreinc-github,
.mooreinc-accessibility {
    display: block;
    padding: 10px 15px 0 15px;
}

.mooreinc-validate-html {
    padding-top: 15px;
}

footer a {
    border-radius: 0;
    background-color: #000;
    color: #fff;
}

footer a::after {
    display: block;
    margin-top: 1px;
    padding: 1px 2px;
    border-radius: 2px;
    background: white;
    color: #000;
    content: attr(title);
    line-height: 21px;
}

.btn-ui-test-container {
    text-align:     center;
}

.btn-ui-test {
    position:           absolute;
    height:             30px;
    width:              150px;
    margin-left:        -75px;
    cursor:             pointer;
    bottom:             10px;
    z-index:            99;
    background-color:   #020202;
    color:              white;
    font-size:          12px;
    border:             1px solid lightgray;
    border-radius:      5px;
}

.btn-ui-test:hover {
    background-color:   lightblue;
    color:              darkblue;
}

.css-attribution p {
    position:           absolute;
    height:             auto;
    width:              auto;
    bottom:             0;
    right:              0;
    z-index:            98;
    background-color:   transparent;
    color:              yellow;
    font-size:          10px;
    font-style:         italic;
}

.link-tip {
    display: none;
}

.link-tip:hover {
    cursor:     help;
    position:   relative;
    padding:    5px;
    display:    block;
    z-index:    100;
    left:       -250px;
    margin:     10px;
    width:      250px;
    top:        -100px;
}

/** $sidebar */

.wrapper li {
    display: block;
    padding: 10px 15px 0 15px;
}

.preamble li {
    font-size: 80%;
    padding-left: 80px;
}

.banner li {
    text-align: center !important;
}

.design-selection li a.design-name,
.design-archives a,
.mooreinc-resources a {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
}

.design-selection li a.designer-name {
    display: block;
    overflow: hidden;
    padding: 1px 2px;
    border-radius: 2px;
}

.design-archives a,
.mooreinc-resources a {
    display: block;
    text-align: center;
}
