.btn-operations {
    background-color:	transparent !important;
}

.btn-settings {
    background-color:	transparent !important;
}

.toolbar-main .x-toolbar-default {
    background-color:	#5a768b;
}

.toolbar-main .x-body {
    color:				white;
}